*.iml
.gradle
/local.properties
/.idea/caches/
/.idea/libraries/
/build
/app/build
/data/build
/domain/build
.DS_Store
/captures
.externalNativeBuild
.cxx
local.properties
/app/google-services.json
results.sarif
